body {
	color: #222;
	font-family: 'sans';
	font-size: large;
	margin: 0;
}

a {
	color: #f93;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #e70;
	background-color: #eee;
}

h1, h2, h3 {
	color: #000;
	font-weight: 300;
}

hr {
	margin: 4em 0.5em;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}

.button {
	display: block;
	padding: 1em;
	color: #111;
}

.button:hover, .button:focus {
	color: #333;
	background-color: #fff;
}

.thisSite {
	display: block;
	padding: 1em;
	cursor: default;
}

.panel {
	display: block;
	float: left;
	text-align: center;
	margin: 2em 0;
	padding: 10px;
}

.todo {
	font-size: small;
	color: #a00;
	background-color: #ff9;
	padding: 0.5em;
}

.clearfix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

#header {
	font-size: larger;
	font-weight: 300;
	width: auto;
	overflow: hidden;
}

#header td {
	padding: 0;
}

#header .button:hover, #header .button:focus {
	font-weight: bolder;
}

#header .thisSite {
	color: #555;
	background-color: #fff;
	font-weight: bold;
}

#header img {
	display: block;
	margin: 0 auto;
	padding: 1em;
}

#banner {
	overflow: hidden;
}

#banner img {
	display: block;
	min-width: 810px;
	max-width: 100%;
}

#menu td {
	padding: 0;
}

#menu {
	background-color: #333;
	font-weight: normal;
	border-top: 0.1em solid #222;
}

#menu .button {
	color: #fff;
	background-color: #333;
	padding-bottom: 0.8em;
	border-bottom: 0.2em solid #333;
}

#menu .button:hover, #menu .button:focus {
	border-bottom: 0.2em solid #f93;
}

#menu .thisSite {
	color: #fff;
	background-color: #333;
	font-weight: bold;
	padding-bottom: 0.8em;
	border-bottom: 0.2em solid #f93;
}

#content h1 {
	margin-top: 0;
	margin-bottom: 0.5em;
	padding-top: 1em;
}

#content h2 {
	margin: 0.5em 0;
}

#content h3 {
	padding-top: 2em;
	margin-bottom: 0.5em;
}

#content p {
	margin-top: 0.5em;
}

#main {
	float: center;
	line-height: 1.8;
	max-width: 810px;
	margin: 0 auto;
	padding: 0 2em 4em 2em;
}

#main .panel {
	width: 250px;
}

#main .panel h3 {
	margin: 0.5em 0;
	padding: 0;
}

#footer {
	color: #fff;
	background-color: #222;
}

#footer .copyright {
	padding: 1em;
	font-size: smaller;
}

